<aside class="socials">
  <div class="socials__inner">

    <div class="social__card">
      <div class="social__card--inner">
        <div class="social__card--info">
          <h4>Телеграмм канал</h4>
          <p>Больше интересных новостей
            из адалт индустрии</p>
        </div>

        @include('../../components/button.html', {
        "text": "VirtualStudio",
        "icon": "telegram",
        "hover": "blue__hover"
        })
      </div>
      <div class="blur"></div>
    </div>

    <div class="social__card">
      <div class="social__card--inner">
        <div class="social__card--info">
          <h4>Телеграмм чат</h4>
          <p>Общайся с другими моделями, задавай вопросы и заводи новых друзей</p>
        </div>

        @include('../../components/button.html', {
        "text": "VirtualStudio",
        "icon": "telegram",
        "hover": "blue__hover"
        })

      </div>
      <div class="blur"></div>
    </div>

  </div>
</aside>