<footer class="footer">
  <div class="footer__inner">
    <nav class="footer__nav">

      <li>
        <a href="#" class="footer__nav--link">Моя страница</a>
      </li>

      <li>
        <a href="#" class="footer__nav--link">Площадки</a>
      </li>

      <li>
        <a href="#" class="footer__nav--link">Документы</a>
      </li>

      <li>
        <a href="#" class="footer__nav--link">Академия</a>
      </li>

      <li>
        <a href="#" class="footer__nav--link">Инструменты</a>
      </li>

      <li>
        <a href="#" class="footer__nav--link">Статистика и выплаты</a>
      </li>

    </nav>

    <div class="footer__socials">

      <a href="#" class="footer__socials--card">
        <div class="social__card--inner">
          <span>Telegram</span>
          <div>
            <svg>
              <use xlink:href="img/sprite.svg#telegram">
            </svg>
            <span>@VirtualStudio</span>
          </div>
        </div>
        <div class="blur"></div>
      </a>

      <a href="#" class="footer__socials--card">
        <div class="social__card--inner">
          <span>Telegram канал</span>
          <div>
            <svg>
              <use xlink:href="img/sprite.svg#telegram">
            </svg>
            <span>@VirtualStudio</span>
          </div>
        </div>
        <div class="blur"></div>
      </a>

      <a href="#" class="footer__socials--card">
        <div class="social__card--inner">
          <span>E-Mail</span>
          <div>
            <span>VirtualStudio@gmail.com</span>
          </div>
        </div>
        <div class="blur"></div>
      </a>

    </div>
  </div>
</footer>